{% set title = 'Calendar ' ~ name ~ ' ' ~ year %}
{% set h1 = title %}

{% extends 'base.html.twig' %}

{% block siteclass %}calendar{% endblock %}

{% block body %}
    <h1>{{ h1 }}</h1>

    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Event</th>
            <th scope="col">Sport</th>
            <th scope="col">Teams/Athletes</th>
        </tr>
        </thead>
        <tbody>

        {% for event in events %}
            {% include 'calendar/eventListItem.html.twig' %}
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
