{% extends 'base.html.twig' %}

{% block siteclass %}home{% endblock %}

{% block body %}
    <h1>Hello</h1>
    <p>This is the Sport Calendar</p>
    <div class="row align-items-center">
        <div class="col-xl-4">
            <img src="{{ asset('build/images/calendar.svg') }}" class="img-fluid" alt="Sport Calendar Logo">
        </div>
        <div class="col-xl-8">
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
{% endblock %}
