<form class="form-search form-inline mt-2 mt-md-0" name="EventSearch" action="#" method="post">
    <input name="EventSearch[query]" required="required" class="event_search_query form-control mr-sm-3" type="text"
           placeholder="Search" aria-label="Search">
    <button name="EventSearch[submit]" class="event_search_submit btn btn-outline-light my-2 my-sm-0" type="submit">
        Search
    </button>
</form>